<%- include('../includes/head.ejs') %>
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main class="d-flex justify-content-center mt-4" style="min-height: 100vh;">
    
        <form class="login-form" style="width: 24rem;" action="/reset" method="POST">
            <% if (errorMessage) { %>
                <div class="alert alert-danger text-center"><%= errorMessage %></div>
            <% } %>

            <div class="form-outline mb-4">
                <input type="email" id="email" name="email" class="form-control"  />
                <label class="form-label" for="email">Email address</label>
              </div>

            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn bg-red btn-danger" type="submit">Reset Password</button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>