<%- include('../includes/head.ejs') %>
    </head>

    <body style="background-color: #f3f3f3;">
      <%- include('../includes/navigation.ejs') %>

        <div class="container mt-4 mb-4">
          <div class="row justify-content-center">
            <div class="col-md-6">
              <div class="card">
                <img src="/<%= product.imageUrl %>" class="card-img-top img-fluid" alt="<%= product.title %>"/>
                <div class="card-body">
                  <h2 class="card-title"><%= product.title %></h2>
                  <p class="card-text">
                    <h2><%= product.price %></h2>
                    <p><%= product.description %></p>
                    <p>vendor : 
                      <a href="/user/profile/<%= user.userId %>">
                        <%= user.firstName %> <%= user.lastName %>
                      </a>
                    </p>
                    <% if (isAuthenticated) { %>
                      <%- include('../includes/add-to-cart.ejs', {product: product}) %>
                    <% } %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        

        

          
        <%- include('../includes/end.ejs') %>